//template
body {
  width: 80%;
  margin: 2% auto;
  background-color: dimgray;
  color: white;
}

//border line
hr {
  height: 1px;
  background-color: white;
  border: none;
}

//Headers
.heading {
  text-align: center;

  h1 {
    font-family: 'Julius Sans One', sans-serif;

  }
}

//social icons on contact from
.social {
  font-size: 40px;
  text-align: center;
  word-spacing: 20px;
}

//links
a {
  color: white;

}

a:hover {
  text-decoration: none;
  color: black;
}
