body {
 background:linear-gradient(120deg, rgba(214, 116, 0, 0.8) 15%, rgba(199, 53, 53, 0.8) 41%, rgba(50, 89, 237, 0.8) 100%);;
}

.wrap {
  background-color: rgba(254, 255, 255, 0.5);
  width: 80%;
  margin: 2% auto;
  padding: 0 1%;
  box-shadow: 0px 4px 51px -9px rgba(240, 4, 4, 1);
}

h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 400%;
  color: #fffffe;
}
//Nav BAR
.navbar {
  background-color: #0E0A19;
  color: #fffffe;
}

.navi {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  background-color: #0E0A19;
  color: #fffffe;
}

.nav-link {
  position: relative;
  text-decoration: none;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  border: 1px solid #0E0A19;
}

.active {
  font-weight: bold;
}

.wrap {
  width: 80%;
  margin: 2% auto;
}

.background__image {
  width: 110%;

}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

.about {
  background-color: #E8DFE0;
  padding-left: 5px;
  margin-bottom: 20px;
}

.foreground {
  margin-top: auto;
  margin-bottom: 50px;

  transform-origin: 0;
  transform: translateZ(3px) scale(0.625);

  /* Uncomment the code below to see the difference the scale property makes! */
  /* transform: translateZ(3px);
  /* transform: translateZ(0) scale(1); */
}

.foreground h1 {
  font-size: 36px;
}

.announcements {
  margin-bottom: 50px;
  background-color: #E8DFE0;
}

.card-body {
  background-color: #E8DFE0;

}

.Reviews {

  background-color: #E8DFE0;
  margin-bottom: 30px;
  padding-top: 10px;
  height: 80%;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 20px;
}

.cardImg {
  background-color: #E8DFE0;
  height:50%
}

.GalleryImg{
  width: 75%;
  height:100%;
  background-color: #E8DFE0;
}

.Gallery{
  padding-bottom: 15px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #0E0A19;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

//footer
.page-footer {
  background-color: #0E0A19;
  color: #fffffe;
  padding-top: 5px;
  padding-bottom: 8px;
}

.contactpagelinkfooter {
  color: #fffffe;
}

.contactpagelinkfooter:hover {
  color: pink;
}

.parallax {
  /* The image used */
  background-image: url("../images/Paralaxtest.jpeg");

  /* Set a specific height */
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo img {
  width: 50%;
  margin-bottom: -8%;
  margin-top: -8%;
  position: absolute;
  left: 0;
  float: left;

}